<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

  <!-- title -->
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>File Library</title>
  {% endif %}

  <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" type="text/css">
</head>

<body>

  <! -- flash zone -->
  {% block flashed_messages %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="error">
        {% for msg in messages %}
          {{ msg }}<br>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  {% endblock %}

  {% if not suppress_nav %}
  <div>
    <a class="bold" href="{{ url_for('index') }}">Home</a> -
    {% if 'username' in session %}
    <a class="bold" href="{{ url_for('logout') }}">Log out</a>
    {% endif %}
  </div>
  {% endif %}

  {% block content %}{% endblock %}

</body>

</html>
